/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Segoe UI';
}

section {
  padding: 50px 15px;
  border-radius: 6px;
  height: 100vh;
}

section:nth-child(even) {
  background-color: #3f51b5;
}

.section-title {
  font-size: 48px;
  text-align: center;
  color: #DDD;
}

.unstyled-list {
  list-style: none;
}

/* Navigation Bar Rules */
nav {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  color: #DDD;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  background-color: #3f51b5;
  border-radius: 6px;
  font-size: 24px;
  user-select: none;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

/* Global Calculator Rules */
.calculator {
  background-color: #000;
  color: #DDD;
  width: 400px;
  border-radius: 12px;
  margin: 20px auto;
  padding: 30px 20px;
}

/* .current-val {
  display: none;
} */

.calculator .screen {
  outline: none;
  background-color: #000;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  margin-top: 10px;
  border: none;
}

.calculator button {
  font-size: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}

.calculator .num {
  background-color: #333333;
  color: #FFF;
}

.calculator .operator {
  background-color: #FF9500;
  color: #FFF;
}

.calculator .del {
  background-color: #ff001b;
  color: #FFF;
}

/* Grid Calculator Rules */
.grid-calc .calculator .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 80px);
  gap: 15px;
}

.grid-calc .calculator .screen {
  grid-column: 1 / 5;
}

/* Flex Calculator Rules */
.flex-calc .calculator {
  display: flex;
  /* flex-direction: column; */
}

.flex-calc .calculator .screen {
  display: block;
  width: 100%;
}